/* Small sized screens */
@media (max-width: 480px) {
  .box{
    width: 275px;
  }
}
/* Medium sized screens */
@media only screen and (min-width: 481px) {
  .box{
    width: 275px;
  }
}
/* Large sized screens */
@media only screen and (min-width: 1024px) {
  .box{
    width: 275px;
    /*width: 550px;*/
  }
}
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  background-color:#4E394C ;
}
.loginbox {
  text-align: left;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}
.registerbox {
  text-align: left;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}
.box {
  text-align: left;
  width: 600px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.channelbox{
  text-align: center;
  background-color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.newchannelbox{
  text-align: left;
  background-color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.postsbox {
  width: 570px;
}
img{
  height: 100px;
  width: 100px;
}
.button{
  width: 250px;
  margin-top: 5px;
  margin-left: 5px;
  color: #4169e1;
}
.signout{
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
  color: #4169e1;

}
input{
  width: 245px;
}
label{
  width: 160px;
  vertical-align: top;
  color: #c39527;
}
.navbar-header{
  float: left;
}
.post{
  font-weight: bold;
}
.timestamp{
  font-size: 0.75em;
}
.red{
  color:red;
  font-size: 13px;
  font-family: 'Bungee', cursive;
}
select{
  width: 245px;
}
textarea{
  margin-top: 5px;
  width: 250px;
}

a {
  color: #4169e1;

}
span {
  color: #c39527;
  
}
.container-fluid {
  width: 120px;
  display: inline-block;
  text-align: center;
}