<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#!/dashboard"><img src="favicon.ico" alt="mIRC" class="small"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
      <ul class="nav navbar-nav navbar-right">
        <span>Welcome <span ng-bind="currentUser.username"></span>!
        <input class="signout" type="button" value="Sign Out" ng-click="logout()">
      </ul>
    </div>
  </div>
</nav>

<br>

<div class="box">
  <input id="search-bar" type="search" name="search" ng-model="filter_channels" placeholder="Search Channels">
  <br>
  <table>
    <tr>
      <th>Channel </th>
      <!--<th> Category </th>-->
      <th> Creator </th>
      <!--<th>Posts</th>-->
    </tr>
    <tr ng-repeat="topic in topics | filter:filter_channels">
      <td><a href="#!/topics/{{topic._id}}">{{topic.title}}</a></td>
      <td>
        <img src="./images/8bit.jpg" alt="avatar" class="small circle">
        <a href="#!/users/{{topic._author._id}}">{{topic._author.username}}</a>
      </td>
      <!--<td>{{topic.posts.length}}</td>-->
    </tr>
  </table>
</div>

<br>
<br>

<div class="box">
  <form ng-submit="addTopic(currentUser.id)">
    <legend>Add a new Channel</legend>

    <br>

    <input type="hidden" name="user" ng-model="newTopic._author" value="{{currentUser.id}}">

    <label for="title">Channel Name:</label>
    <br>
    <input id="textbackground" type="text" name="title" ng-model="newTopic.title">

    <br>
    <br>

    <label for="description">Description:</label>
    <br>
    <textarea name="description" class="text-box" ng-model="newTopic.description"></textarea>

    <br>
    <br>

    <label for="category">Category:</label>
    <br>
    <select id="textbackground" name="category" ng-model="newTopic._category">
      <option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</option>
    </select>

    <br>

    <label for="button"></label>
    <br>
    <input type="submit" class="button" value="Submit">
  </form>
</div>
<!-- <button ng-click="printCookies()">Test Cookies</button> -->

<!--
<div class="box">
  <form ng-submit="addPost()">
    <label>Post a message:</label>
    <textarea rows="3" cols="30" ng-model="newpost.posttext"></textarea>
    <label for="button"></label>
    <input class="button" type="submit" value="Post">
  </form>
</div>



<span ng-repeat="post in posts">
  <div class="box">
    <p class="timestamp"><span ng-bind="post._author.username"></span>: <span ng-bind="post.createdAt|date:'medium'"></span></p>
    <p class="post" ng-bind="post.postText"></p>
    <span ng-repeat="comment in comments">
      <span ng-if="comment._post._id === post._id">
          <p class="timestamp"><span ng-bind="comment._author.username"></span>: <span ng-bind="comment.createdAt|date:'medium'"></span></p>
          <p ng-bind="comment.commentText"></p>
      </span>
    </span>
    <form ng-submit="addNewComment(post._id, newcomment)">
      <textarea rows="3" cols="30" ng-model="newcomment.commenttext"></textarea>
      <input class="button" type="submit" value="Comment">
    </form>
  </div>
</span> -->