<div class="box">
  <h3><a href="#!/user/{{topic._author._id}}">{{topic._author.username}}</a> created a new channel:</h3>
  <h5>{{topic.title}}</h5>
  <p>Description: {{topic.description}}</p>

  <br>

  <div class="postsbox">
    <form ng-submit="addPost(currentUser.id, topic._id)">
      <label>Post here...</label>
      <textarea name="name" class="text-box" ng-model="newPost.postText"></textarea>
      <input type="submit" class="button" name="" value="Post">
    </form>
    <form action="#" enctype="multipart/form-data" method="post">
      <ul>
        <li>
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" multiple>
        </li>

        <li>
          <label for="file_upload">File:</label>
          <input type="file" name="file_upload" id="file_upload" multiple>
        </li>

        <li><input class="button green" type="submit" name="submit" value="Submit Content"></li>
      </ul>
    </form>
  </div>

  <br>

  <div class="postsbox" ng-repeat="post in topic.posts">
    <p>
      <a href="#!/user/{{post._author._id}}">{{post._author.username}}:</a> {{post.postText}}
    </p>
    <br>
    <form action="#" enctype="multipart/form-data" method="post">
      <ul>
        <li>
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" multiple>
        </li>

        <li>
          <label for="file_upload">File:</label>
          <input type="file" name="file_upload" id="file_upload" multiple>
        </li>

        <li><input class="button green" type="submit" name="submit" value="Submit Content"></li>
      </ul>
    </form>
    <!--<span>{{post.likes}}</span>
  <button type="button" class="button" name="like" ng-click="vote('like')">Like</button>
  <span>{{post.dislikes}}</span>
  <button type="button" class="button" name="button" ng-click="vote('dislike')">Dislike</button>-->
    <button ng-click="like(post._id)">Like {{post.like.length}}</button>
    <!--grabs the  number of likes-->
    <button ng-click="dislike(post._id)">Dislike {{post.dislike.length}}</button>
    <!--grabs the  number of dislikes-->
  </div>
</div>