<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#!/dashboard"><img src="favicon.ico" alt="mIRC" class="small"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
            <ul class="nav navbar-nav navbar-right">
                <span>Welcome <span ng-bind="user.username"></span>!
                <input class="signout" type="button" value="Sign Out" ng-click="logout()">
            </ul>
        </div>
    </div>
</nav>

<div class="box">
    <a href="#!/dashboard">channels</a>
    <br>
    <img src="./images/8bit.jpg" alt="avatar">
    <label for="" ng-bind="user.username"></label>
    <label for="" ng-bind="user.email"></label>
    <label for="">Status</label>
    <p>Online</p>
    <label for="">What I do</label>
    <p>Student</p>
    <label for="">Time and Date</label>
    <p id="date"></p>
    <script>
        document.getElementById("date").innerHTML = Date();
    </script>
    <label for="">Phone</label>
    <p>555-555-5555</p>
    <ul style="list-style: none">
        <li ng-repeat="topic in user.topics track by $index">
            {{ topic.title }}
        </li>
    </ul>
</div>